os: linux
language: java
jdk:
  - oraclejdk14
env:
  matrix:
    - DISPLAY=:99.0
  global:
    #$GITHUB_TOKEN
    - secure: vt+xYgydmvdzHQvO9QcNehtztHLkad89iunw7ebrmPEXgjSNwqOVHjSzRvASazYht9iq+kIs4reEQUS2i3+0Sq+VvyP26g6jGmrClXbnRWBrk84MHDbW0Ee+5f8RwT471QAT+GQrXK9ELLM6x9cfeJZsUsowGR0d+miEE7VYy29cYzEjQ8KVw5b2KVW9KL7c1bqQHDu9zsVSxNEzZs8KbQ86W1vymUF1F/KMnUWs6oyuH/STohAH8cYPmcK3p/d2wtnuVVny/OAXy5V6fkq9F/kycjRvj5fwkwPdPzHwACzoY+NDe/UoA/A0bk99b0Sk/jz7CaiBhjK0pBK2SvelxR+90VLYcnLSy70x5o2ET4HgkikP8r5nKX4r2cdQiVWL51GB8B2ooI9+h8fV8xMwYXlRJAxgzjuTQFpGc7tATD34234LUWzHxqbTOEWiVZqfCrPVNeQ4SbUg3ud+ETiFQ00+ELGth7Usbk1eUHGKIUi3kWR/xhBkl5/pZZswAEXvAsRfdJzncm65Xrv1VAgIW90+dMTQZmEne7xt+KYYllnqqIbo3s2ah78RUUPuC+r7TxAdE9KnkiPUipa/x1LUvNIf969BaV+RYPEjRJy5eKFm2eGqduXMCh8BjHbuS2Ohcbrm7YIXbPs84N6LqCiGdfQQzvTKuIPmglGynADpHvc=
    #$SLACK_TOKEN
    - secure: O1CQhHHDwhKZMyB/l4xG/ZdKKCW04rLzfa+H5X1Sgi0ALiOkwMt5j56XC6J97a6OOjtXvJjYHZt+BdN7eCjb9DhOxpi5tWgTSloq9kPmhJymr1br1c5SsXxFDbtJPcOYxxDlvkC2aJH+ocWX7ikxoMzSG+FZ+sHolhdX7kkUWOgB6cf4h8ltlNY01LH+jjhwp7lbnJiqjMptT0V3U0oL7i6QL48ZOUDBVxOBaDERDSsW095fVvwGoY0/eme5caeSdfM6FUPKni2VOxSAoBOu0yabtDwRqC/EXr1E4ME96YQvIRRnIf5vO8Situ2NraVnh1lWU5QsInpCstUh6RfAl4kq6QDRcKFaf/0NGQAKY/4JCS2+fKhTZJVZdRNoXvhqM+gs0eR8/JgunVbCSbxo6sI0QTGAFszh8oaCSsp/ZbZJNiWWvdKNLE0QLHpOo092smMf+RaMiyoKkPBM9Qvu/nKfFWVo9ooeSVSvILXZD6i0ku5oMdr6Al94mTMMFPGpGSTq0pjf8IJ7UDg3vxmex76vHtVG3yNyjJy5YaR4+AKQQqewfKiAqSOrzVq/Be0nLLerpf401S2MC8h0HkaWsMujzuQo30Q1N6H66hlkg7ubl66vvh4J8/ITNaUUPM4WFyZawl7EEXu8HUQ0SXWBZhvF/RxSOI2Orw+iHI7RVwg=
    #$USER_NAME
    - secure: rku4gJTH9mT6rZgCv9mx/IH/p//iIf17Y471I6E3AbJsUe3fWyJnGymMV+jyxXw/66AtT0EP/dlrXS/vdbBkE0W/SgRKWoUUNPbsBoAfU1QC6btz1H9uiNXZcV12LB2rnXCwfmK7uPP9FL7dVCqGO+QhU1bVLH9JCDY7/5BpBScFYTyin5ZCMzYjlVhFKyx2kmTbOjj/xdBIWfwHUSgMZa8C2Tn3YvecwRMGNRdqCts0E+setpr/LV2zofr3KQO/1zCD++KeD+apP4NjHNNHfDGsdL5f6WX/fdyTDewEaTIxCXkTq147Sn6QW0tbZG9aRNkkE4Hy3fYTveXYMHFgHDJKeYaHZXqZCSzcvTrnc7Gn0ld9njJU8ChgzKYKNWBbnHPErXkKcNC4I1WDyiMG1rRJBETNvW2kQA6spbNhlVnExWtQu2lzKtVIz+D2RML4385CHF70z83tPNYriMByB8NiIFW4/dcfqYeTtzkM6oPHDiAZ/sJSxlHE4/L3o2zpU2krLxQKYpg+n6xa2ltGLe1k4nKujnma99snquS4f8yBhAcO5AHns3G4iYhUQFkEzblPd6zP5W2TdLiw4l5xADCbNav6GZIh8t6DG78mncWg+jFJ4Hm/c9pLaQxGV/rNVlT1ohn6zgt1L5vG92vyh8HJwSLFIFbd1uYa78osbII=
    #$ACCESS_KEY
    - secure: qekq6WCfUj8iPXcucPIQ4mipHtqem3Mh5iHJl6Isn2+7LySQCLLzr68R5puLMrS1p4Ml/6cQdsAwAE9QlCoYxneT1BSYaY6sJJ8z9NsHERkERpf/CekNQ9cvKRZ2dG0aPqnMbop2v3JfwTCYNhGFmsGV0/pEcvPKn7cvsfoJiJccRsBc9g1lXO47az8z0JjHeuZ19YkxK/zf0VkbPJ3Z9wZ+PdIlABf/eyiU8Krmh6qKAHU0gbic2KzHmCUGucQA8REuDUxzAOsAxhaRSum5BEO6Z1HfbAC3hFkNJFxfQdJjclGLLVU9qcXia9jkfqNW1k/jGH61KtLgKl2Si9wiQu8jxq152HjgbJKpi7fqVctsMtvjrpSeuJ1R/AL4T4ubx4pgmbZj9MRvAbTfKAxFj27fihItfSjWhsME3BvH22ewDBUxW5N3wJ3nSaClvoESocDq/OVlnOTxSY997iewGGQg/X5tW8w9QDhVLpGtR6VCsURQQEDKfXwDYHkz4HH5d4XNPFsDEyHLBSeYLJETT8W6Q7uHYDhET1XOXV9iAyquijwpF/1h8XvCWSZBLcbWfbz7COMpNbcsQl+QoM+IvBxBPP/LZNp9ipX/4mfuvIP8mD/1GefKXmyamSZS1ZK7S3FVqi+kl4jfSPKNVufE5dw39CUA5ztzZnXCND6ns+Q=
#LINUX VERSION
dist: bionic
#GUI & VIRTUAL BROWSER
services:
  - xvfb
notifications:
  slack:
    rooms:
      - secure: E+UlNohgriwhUd5FlWkdH04YqNMdK2R3f2gjqLO9diKpgJr5i3ITIhm18i4jJC4dcE95mvNGYroznb1G/sLBiEAPOe2JT4lToKjWEB+Iup+juqskDnn7E0RVbc73WrYhgFSnMMxAXmzHWJCpH4otW28gTC431m3yswwQeb30A+u1dmmsuHm8jK4vwjYs+aBb55OJj48ReChvpoM6mrF81u+kB+/KFKdRJ+6iMC9oGv1ogE3ejrCLcf3CoqEW2eDGKRG+luwiGgA1+UwPKuBvtg2gHyuXsZ0Ew4IMU7YIElc3tAAbrPSbH60im3GB8YhHAinl2aJXsmBrEWTDRG3tzu42RhkJ3dNSaxsYweL9/deX76YXo9OgdRf2a2L9SV00T5m1PbaxvDxmPfh7qa3JYTjYTUMQOoVTdwKyXOHCQaXxw2oWooTaUxkBeQY4eME+eCefOzkfBiLde8HFgUYoAzZDg0GiRHFx525qfeS9UgAHKIq2aHLzxwbL1P+d/rzcpSAfDFGl+vD+veGCgFW4Jtqn66a1BFQgzTwpzgpxV9+LTsAIkZ6Xzq+XSxwJprZdkolfug2cNM8dLlbvzGz+I4Ptt78wMVaGMxkWi/E7EshpbLCE0gSxXUDOAVT5yF340sfJVcGFqnAD12NekW19KL4IrgelxruS4i5inuuIm5Q=
    on_pull_requests: true
    on_success: always
    on_failure: always
    template:
      - "Repository: `%{repository_slug}`"
      - "Deploy status: *%{result}*, build number (<%{build_url}|#%{build_number}>)"
      - "Author: *%{author}*, for commit (<%{compare_url}|%{commit}>) on branch: `%{branch}`"
      - "Commit message: `%{commit_message}`"
      - "Output message: *%{message}* Execution time: *%{duration}*."
  email:
    on_success: never
    on_failure: always
addons:
  chrome: stable
#DOWNLOAD AND INSTALL ALL REQUIRED DRIVERS
install:
  #- wget -N http://chromedriver.storage.googleapis.com/81.0.4044.138/chromedriver_linux64.zip -P
  #- unzip chromedriver_linux64.zip -d
  - npm install -g allure-commandline --save-dev
before_script:
  - echo ========================================================================
  - echo =========================BUILD EXECUTION STARTED========================
  - echo ========================================================================
#RUN GRADLE
script:
  - ./gradlew test -Dtravis.buildNumber=$TRAVIS_BUILD_NUMBER -Dtravis.buildURL=$TRAVIS_BUILD_WEB_URL -Dtravis.branch=$TRAVIS_BRANCH -Dtravis.osName=$TRAVIS_OS_NAME -Dtravis.jdkVersion=$TRAVIS_JDK_VERSION -Dtravis.slack=$SLACK_TOKEN
  #THIS COMMAND WOULD RUN TESTS ON BROWSERSTACK
  #- ./gradlew test -Dtests.executor=browserstack -Dbrowserstack.hostURL=https://$USER_NAME:$ACCESS_KEY@hub-cloud.browserstack.com/wd/hub -Dremote.browser=chrome
after_script:
  - echo ========================================================================
  - echo ========================BUILD EXECUTION FINISHED========================
  - echo ========================================================================
  - chmod 777 .travis/deploy.sh
  - echo ========================================================================
  - echo =========================UPLOADING TEST REPORTS=========================
  - echo ========================================================================
  - .travis/deploy.sh
  - echo ========================================================================
  - echo ===============================DONE 100%================================
  - echo ========================================================================