<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Automationpractice.com by Kamil Nowocin">
    <test name="Automationpractice.com Tests">
        <packages>
            <package name="tests"/>
        </packages>
    </test>
</suite>